__pycache__/
.env
.ipynb_checkpoints
.venv

# Force these to be included
!.gitignore
!requirements.txt
!README.md

# Ignore these
song_data.csv
spotify_songs.csv
high_popularity_spotify_data.csv
spotify_data_12_20_2023.csv
decision_tree.dot